@font-face {
  font-family: Helv;
  src: url(./Helvetica-Roman.otf);
}

html, body, ul, p {
  margin: 0;
  padding: 0;
  font-family: Helv;
}

.container {
  padding: 5% 10%;
}

a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

.right-channel__social-links {
  list-style-type: none;
  font-size: 1em;
}

ul {
  list-style-type: none;
  cursor: pointer;
}

.right-channel__logo {
  width: 30%;
  display: inline-block;
}

.right-channel__logo > img {
  width: 100%;
}

.right-channel__social-links {
  width: 25%;
  display: inline-block;
  float: right;
}

.projects--desktop {
 display: none;
}

.projects--mobile {
  position: relative;
  margin-top: 1em;
  font-size: 0.8em;
}

.content {
  margin-top: 2em;
}

.content__header {
  width: 80%;
}


.content__header > h1 {
  font-size: 4em;
  margin: 0;
}

@media (max-width: 320px) {
  .content__header > h1 {
    font-size: 3em;
  }
}

.gif {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 800px) {

  .container {
    padding: 3% 0;
  }

  .content {
    margin: 0;
    margin-top: 3em;
    width: 75%;
    padding-left: 10%;
  }

  .content__header > h1 {
    font-size: 3.5em;
  }

  .content__gif {
    width: 80%;
  }

  .projects--desktop {
    display: block;
    margin-top: 2em;
  }

  .projects--mobile {
    display: none;
  }

  .gif {
    width: 100%;
    left: inherit;
    transform: none;
  }

  .right-channel {
    width: 20%;
    display: flex;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    flex-direction: column;
  }

  .right-channel__logo {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .right-channel__logo > img {
    width: 35%;
  }

}
