html, body, ul, p {
  margin: 0;
  padding: 0;
  font-family: serif;
}

.container {
  padding: 5%;
  width: 76%;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

.right-channel__social-links {
  list-style-type: none;
  font-size: 0.7em;
}

ul {
  list-style-type: none;
  cursor: pointer;
}

.right-channel {

}

.right-channel__logo {
  width: 30%;
  display: inline-block;
}

.right-channel__logo > img {
  width: 100%;
}

.right-channel__social-links {
  width: 33%;
  display: inline-block;
  float: right;
}

.right-channel__projects {
  position: absolute;
  top: 65%;
  font-size: 0.8em;
}

.content__header > h1 {
  font-size: 2.5em;
  margin: 0;
}
.content__gif {
  margin-top: 1em;
}

.gif {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1000px) {

  .content {
    width: 66.67%;
    display: inline-block;
  }

  .content__header {
    width: 75%;
    padding-left: 10%;
  }

  .content__gif {
    width: 65%;
    padding-left: 10%;
  }



  .gif {
    width: 70%;
  }

  .right-channel {
    width: 20%;
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .right-channel__logo > img {
    width: 50%;
  }

}
