html, body, div, ul {
  margin: 0;
  padding: 0;
  font-family: serif;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */



@media (min-width: 1000px) {
  .container {
    margin-top: 4%;
  }

  .content {
    width: 66.67%;
    display: inline-block;
  }

  .content__header {
    width: 75%;
    padding-left: 10%;
  }

  .content__gif {
    width: 65%;
    padding-left: 10%;
  }

  .content__header > h1 {
    font-size: 5vw;
    margin: 0;
  }

  .gif {
    width: 70%;
  }

  .right-channel {
    width: 20%;
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .right-channel__logo > img {
    width: 50%;
  }

  .right-channel__social-links {
    text-decoration: underline;
    list-style-type: none;
  }

  .right-channel__social-links > ul {
    text-decoration: underline;
    list-style-type: none;
  }
  .right-channel__social-links > ul:visited {
    text-decoration: underline;
    list-style-type: none;
    cursor: pointer;
  }
  .right-channel__projects > ul {
    list-style-type: none;
  }

}
